.listContainerClosed {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}

.listContainerOpen {
  width: min(100%, 600px);
  height: 300px;
  border-radius: 5px;
  padding: 1rem;
  margin: auto;
}

.mainContainer {
  margin: 1rem auto;
  width: 90%;
  display: flex;
  z-index: -5;
}

.listTitle {
  margin-left: 2rem;
}

.titleContainer {
  justify-content: space-between;
  align-items: baseline;
}

.listContent {
  display: flex;
  flex-direction: column;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1000px) {
  .listContainerClosed {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-left: 350px;
  }
}
