.section {
  width: min(90%, 600px);
  height: 40%;
  background-color: #7cc1ac;
  margin: 2rem auto;
  border-radius: 5px;
  padding: 1rem;
}

.title {
  color: white;
  margin: 0 0 1rem 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
